@charset "utf-8";

/*title, unrlog, googlesearch*****************************************************************/
#identity {
	width: 100%;
	height: 40px;
	background-color: #002e62;
	margin: 20px auto 0 auto;
	overflow: visible;
	
	}
/*Logo              */
#logo {
	
	margin: 0 auto 0 auto;
	width: 916px;
	border:0
	
	}


#logo img {
	
	margin: -60px auto 0 -30px;
	border:0
	
	}

	
/*Google search bar */
#search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	margin: -62px auto 0 auto;
	padding: 0;
	
	float: right;
	text-align: right;
}

#search form {
	margin: 0 auto 0 auto;
	padding: 0;
	
}

#search p {
	margin: 5px 0px 0px 100px;
	padding: 0px;
}

#search input.FormWindow  {
	text-align: left; 
	line-height: 16px;
	margin: 1px 0 0 0; 
	padding: 0; 
	background-color: #FFFFFF;
	height: 15px;
	
}	

#search input.FormButton {
	margin: 0; 
	padding: 0;
	
	background-color: #cccccc;
	height: 19px;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px; 
	
}
#search a {
	color: #002675;
	text-decoration: none;
}


#search a:hover {
	color: #002675;
	text-decoration: underline;
}

.searchbutton {
	border: 1px solid #999;
	background : #fff;
	
	color : #002147;
	font-family : arial, helvetica, sans-serif;
	font-size : 10px;
	
	height : 22px;
	
 	padding: 2px;
 }
/*************************************************************************************/
/*ielc logo, ************************************************************/

/*ielc logo*/
#ielclogo
{
	margin: 0 auto 2px auto;
	width: 765px
}
#ielclogo img {
	
	margin: 0px auto 0 auto;
	width: 765px;
	border:0;
	}

/*body****************************************************************************************/
#container {
	
	margin: 0 auto 0 auto;
	width: 765px;
	
	}

/*yellow left, actually, all the background is yellow*/
#background{
    width: 765px;
	height: 650px;
	background-color:  #e0aa00;
	margin: 2px auto 0 auto;
	}
/*quick click*/
#quickclick{
	width:210px;
	float:right;
	margin:10px 540px 0 auto;
}

#quickclick p{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:#000000;	
}

#quickclick a:link, #quickclick a:visited
{
	font-size: 14px;
	font-weight:normal;
	text-decoration:none;
	color:#000000;
	font-family: Arial;
}

#quickclick a:hover, #quickclick a:active
{
	font-size: 18px;
	font-weight: bold;
	line-height: 17px;	
	text-decoration:none;
	color:#F7D919;
}
/*language choise*/
#language{
	width:210px;
	height:150px;
	float:right;
	margin:10px 540px 0 auto;
	
	
}
#language p{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:#000000;
}

#language a:link, #language a:visited
{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;	
	text-decoration:none;
	color:#000000;
}
#language a:hover, #language a:active
{
	font-size: 18px;
	font-weight: bold;
	line-height: 17px;	
	text-decoration:none;
	color:#F7D919;
}
/*student*/
#students{
	width:210px;
	height:300px;
	float:right;
	margin: 10px 540px 0 auto;
	color: #000;
	font-family: Arial;
	
}

#students a:link,#students a:visited
{
	font-family: Arial;
	font-size: 14px;
	line-height: 12px;	
	text-decoration:none;
	color:#00C;
}

#students a:active, #students a:hover{
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;	
	text-decoration:none;
}
#students li{
font-family:Arial;
font-size:14px;}
#studentsA
{
 float: left;
 padding-left:5px;
 padding-right: 25px;
}
#studentsA p
{
 
 font-family: Arial;
 font-size: 12px;
 font-weight:bold;
 color:#333;
}
#studentsA img
{
  padding-left:25px;
  padding-bottom:25px;
}
 /*blank*/
 #blankbody{
	width: 530px;
	height: 650px;
	float:right;
	background-color:  #ffffff;
	margin: -650px 0 0 auto;
 }
 
 /*topleft*/
 #top{
    width: 525px;
	float: right;
	margin:0 auto 0 auto;
	
 }
 #top img{
	float:right;
 }
 
 #top a:link, #topleft a:visited
 {
    font-family: Arial;
	font-size: 12px;
	line-height: 17px;	
	text-decoration:none;
 }
 #top a:hover, #topleft a:active
 {
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;
	text-decoration:none;
 }
 #top p
 {
	width: 210px;
	margin: 20px auto 0 30px;
	float:left;
	font-family: Arial;
	font-size: 12px;
	color: #000000  ;
 } 
/*image*/
#toptxt/*nested template:)*/
{
  width: 525px;
  margin:20px auto 0 auto;
  font-family:Arial;
  font-size:12px;
}

#toptxt p
{
	margin:0;
	width: auto;
	float:none;
	font-size: 12px;
	color: #666;
	text-align: left;
}
#toptxt a:link, #toptxt a:visited
{
  float: left;
  font-family: Arial;
  font-size: 12px;	
  text-decoration:none;
  
}

/*bottomleft*/
#bottomleft{
	width:260px;
	float:left;
	margin:10px auto 0 auto;
	font-family:Aril;
}

#bottomleft p{
	width: 210px;
	float:left;
	margin: 0  auto 0 10px;
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}

#bottomleft li{
	width: 210px;
	float:left;
	font-family:Arial;
	font-size:12px;
	margin: 0 auto 0 30px;
	font-weight: normal;
}

#bottomleft img{
	float:right;
	height:430px;
	width: 1px;
	margin: -10px auto 0 auto;
}

#bottomleft a:link, #bottomleft a:visited
{
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;	
	text-decoration:none;
}
#bottomleft a:hover,#bottomleft a:active
{
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;
	text-decoration:none;
}

#bottomright
{
    width:250px;
	float:right;
	margin:0 auto 0 auto;	
	
}

#bottomright p{
    width: 210px;
	float:right;
	font-family: Arial;
	font-size: 12px;
	color: #000000  ;
}
#bottomright img{
float:left;
margin:0 auto 0 30px;}
#bottomright li{
	width: 210px;
	float:right;
	font-family:Arial;
	font-size:12px;
	margin: 0 auto 0 -10px;
}

#bottomright a:link, #bottomright a:visited, #bottomright a:hover, #bottomright a:active
{
	text-decoration:none;
	font-family: Arial;
	float: left;
	font-size: 16px;
	width: 255px;
}
#news
{
  width: 210px;
}
#news p
{
	width: 210px;
	font-family: Arial;
	font-size: 14px;
	color: #F00;
	font-weight: bold;
	float: right;
}

#news li
{
  	width:210px;
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;	
	text-decoration:none;
	color:#002e62;
}
#news a:link, #news a:visited
{
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;	
	text-decoration:none;
	color:#dbe06b;
}
#news a:hover,#news a:active
{
	font-family: Arial;
	font-size: 12px;
	line-height: 17px;
	color:#dbe06b ;
	text-decoration:none;
}
/*footer**********************************************************************************************/	
 #footer{
	width: 765px;
	height: 100px;
	background-color: #002e62;
	margin: 3px auto 0 auto;
	overflow: visible;	
	}
	
#footerA {
	float: left;
	width: 755px;
	border-top: 5px ;
	background-color: #002e62;
	padding-top: 5px;
	padding-left: 10px;
	}
#footerA p{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	color: #afbcbf  ;
}
#footerA a:link, #footerA a:visited, #footerA a:active
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	color:#dbe06b ;
	text-decoration:none;
	
}
#footerA a:hover{
	text-decoration: underline;
}
